<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/basic.css?[ncc_at]" />
        <link rel="stylesheet" type="text/css" href="static/css/pc.css?[ncc_at]" />
    </head>
    <body>
        <div class="b-app">

            <% include('tmp/pc/header.html', data); %>
    
            <% include('tmp/pc/contTop.html', data); %>
    
            <% include('tmp/pc/contBottom.html', data); %>

            <% include('tmp/pc/subscribe.html', data); %>
    
            <% include('tmp/pc/footer.html', data); %>
    
        </div>
        <script type="text/javascript" src="static/js/basic.js?[ncc_at]"></script>
        <script type="text/javascript" src="static/js/pc.js?[ncc_at]"></script>
    </body>
</html>
